<header>
  <%- image_tag("rails.png", :alt => "Self Serve", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Users", '#' %></li>
      <li><%= link_to "Categories", '#' %></li>
      <li><%= link_to "Home", '#' %></li>
    </ul>
  </nav>
</header>