<header>
  <%- image_tag("rails.png", :alt => "Self Serve", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Users", '/users' %></li>
      <li><%= link_to "Categories", '/categories' %></li>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</header>